#kmdWrapper
  #kmdArea
    .kmdThumbArea
      #thumbList.mCustomScrollbar._mCS_1{:style => "width: 1240px;"}
        #mCSB_1.mCustomScrollBox.mCS-inset.mCSB_horizontal.mCSB_inside{:tabindex => "0"}
          #mCSB_1_container.mCSB_container{:dir => "ltr", :style => "position: relative; top: 0px; left: -10px; width: 3911px;"}
            #thumbListWrapper{:style => "width: 3910px;"}
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/NAMIE_AMURO"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:0px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} NAMIE AMURO
                    %img{:height => "225", :src => "/images/thumb/t106.jpg", :title => "NAMIE AMURO", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/JUJU"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:0px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} JUJU
                    %img{:height => "225", :src => "/images/thumb/t291.jpg", :title => "JUJU", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/BLACK_PINK"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:170px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} BLACK PINK
                    %img{:height => "225", :src => "/images/thumb/t413.jpg", :title => "BLACK PINK", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/MISIA"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:170px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} MISIA
                    %img{:height => "225", :src => "/images/thumb/t115.jpg", :title => "MISIA", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/TWICE"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:340px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} TWICE
                    %img{:height => "225", :src => "/images/thumb/t331.jpg", :title => "TWICE", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/BTS"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:340px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} BTS
                    %img{:height => "225", :src => "/images/thumb/t420.jpg", :title => "BTS", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/AKB48"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:510px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} AKB48
                    %img{:height => "225", :src => "/images/thumb/t286.jpg", :title => "AKB48", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/IZ_ONE"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:510px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} IZ*ONE
                    %img{:height => "225", :src => "/images/thumb/t423.jpg", :title => "IZ*ONE", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/E_girls"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:680px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} E-girls
                    %img{:height => "225", :src => "/images/thumb/t415.jpg", :title => "E-girls", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/AOYAGI_SHO"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:680px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} AOYAGI SHO
                    %img{:height => "225", :src => "/images/thumb/t414.jpg", :title => "AOYAGI SHO", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/J_SOUL_BROTHERS_3"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:850px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} J SOUL BROTHERS 3
                    %img{:height => "225", :src => "/images/thumb/t268.jpg", :title => "J SOUL BROTHERS 3", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/CRYSTAL_KAY"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:850px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} CRYSTAL KAY
                    %img{:height => "225", :src => "/images/thumb/t317.jpg", :title => "CRYSTAL KAY", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/EXO"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:1020px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} EXO
                    %img{:height => "225", :src => "/images/thumb/t392.jpg", :title => "EXO", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/FLOWER"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:1020px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} FLOWER
                    %img{:height => "225", :src => "/images/thumb/t316.jpg", :title => "FLOWER", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/TAEMIN"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:1190px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} TAEMIN
                    %img{:height => "225", :src => "/images/thumb/t304.jpg", :title => "TAEMIN", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/YPSHIKI"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:1190px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} YOSHIKI
                    %img{:height => "225", :src => "/images/thumb/t429.jpg", :title => "YOSHIKI", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/Theyeon"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:1360px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} Taeyeon
                    %img{:height => "225", :src => "/images/thumb/t383.jpg", :title => "Taeyeon", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/KUMI_KOUDA_2015"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:1360px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} KUMI KOUDA 2015
                    %img{:height => "225", :src => "/images/thumb/t299.jpg", :title => "KUMI KOUDA 2015", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/GIRLS__GENERATION"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:1530px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} GIRLS' GENERATION
                    %img{:height => "225", :src => "/images/thumb/t105.jpg", :title => "GIRLS' GENERATION", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/GIRLS__GENERATION_"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:1530px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} GIRLS' GENERATION
                    %img{:height => "225", :src => "/images/thumb/t143.jpg", :title => "GIRLS' GENERATION", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/PERFUME"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:1700px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} PERFUME
                    %img{:height => "225", :src => "/images/thumb/t107.jpg", :title => "PERFUME", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/BOA"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:1700px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} BOA
                    %img{:height => "225", :src => "/images/thumb/t109.jpg", :title => "BOA", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/MR_CHILDREN"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:1870px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} MR.CHILDREN
                    %img{:height => "225", :src => "/images/thumb/t110.jpg", :title => "MR.CHILDREN", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/GLAY"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:1870px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} GLAY
                    %img{:height => "225", :src => "/images/thumb/t111.jpg", :title => "GLAY", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/EXILE"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:2040px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} EXILE
                    %img{:height => "225", :src => "/images/thumb/t127.jpg", :title => "EXILE", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/MEG"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:2040px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} MEG
                    %img{:height => "225", :src => "/images/thumb/t321.jpg", :title => "MEG", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/TOSHI"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:2210px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} TOSHI
                    %img{:height => "225", :src => "/images/thumb/t421.jpg", :title => "TOSHI", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/TOHOSHINKI"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:2210px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} TOHOSHINKI
                    %img{:height => "225", :src => "/images/thumb/t113.jpg", :title => "TOHOSHINKI", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/TOMOMI_KAHARA"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:2380px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} TOMOMI KAHARA
                    %img{:height => "225", :src => "/images/thumb/t114.jpg", :title => "TOMOMI KAHARA", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/MAKI_NOMIYA"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:2380px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} MAKI NOMIYA
                    %img{:height => "225", :src => "/images/thumb/t116.jpg", :title => "MAKI NOMIYA", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/_PM"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:2550px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} 2PM
                    %img{:height => "225", :src => "/images/thumb/t117.jpg", :title => "2PM", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/CHARA"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:2550px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} CHARA
                    %img{:height => "225", :src => "/images/thumb/t112.jpg", :title => "CHARA", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/SOPHIA"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:2720px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} SOPHIA
                    %img{:height => "225", :src => "/images/thumb/t118.jpg", :title => "SOPHIA", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/ORANGE_RANGE"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:2720px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} ORANGE RANGE
                    %img{:height => "225", :src => "/images/thumb/t287.jpg", :title => "ORANGE RANGE", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/CBX"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:2890px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} CBX
                    %img{:height => "225", :src => "/images/thumb/t330.jpg", :title => "CBX", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/AFTER_SCHOOL"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:2890px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} AFTER SCHOOL
                    %img{:height => "225", :src => "/images/thumb/t119.jpg", :title => "AFTER SCHOOL", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/VANILLA_BEANS"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:3060px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} VANILLA BEANS
                    %img{:height => "225", :src => "/images/thumb/t120.jpg", :title => "VANILLA BEANS", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/DOUBLE"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:3060px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} DOUBLE
                    %img{:height => "225", :src => "/images/thumb/t121.jpg", :title => "DOUBLE", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/manami"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:3230px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} manami
                    %img{:height => "225", :src => "/images/thumb/t359.jpg", :title => "manami", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/HYDE"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:3230px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} HYDE
                    %img{:height => "225", :src => "/images/thumb/t122.jpg", :title => "HYDE", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/HITOMI_SHIMATANI"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:3400px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} HITOMI SHIMATANI
                    %img{:height => "225", :src => "/images/thumb/t123.jpg", :title => "HITOMI SHIMATANI", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/SEAMO"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:3400px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} SEAMO
                    %img{:height => "225", :src => "/images/thumb/t124.jpg", :title => "SEAMO", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/SPONTANIA"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:3570px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} SPONTANIA
                    %img{:height => "225", :src => "/images/thumb/t125.jpg", :title => "SPONTANIA", :width => "170"}/
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/SOWELU"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:225px;left:3570px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} SOWELU
                    %img{:height => "225", :src => "/images/thumb/t126.jpg", :title => "SOWELU", :width => "170"}/
              %ul.num
                %li{:style => "display: block; opacity: 1;"}
                  %a{:href => "/music/ka_fu_ka"}
                    .sliphoveritem{:style => "border-radius:0px;width:170px;height:225px;text-align:center;overflow:hidden;position:absolute;top:0px;left:3740px;"}
                      .sliphoveritemTitle{:style => "border-radius: 0px; width: 100%; height: 100%; box-sizing: border-box; padding: 5px; overflow: auto; position: absolute; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); left: -100%; bottom: 0px;"}
                        %div{:style => "position: relative; width: 160px; height: 215px; display: table-cell; vertical-align: middle; text-align: center;"} ka-fu-ka
                    %img{:height => "225", :src => "/images/thumb/t288.jpg", :title => "ka-fu-ka", :width => "170"}/
          #mCSB_1_scrollbar_horizontal.mCSB_scrollTools.mCSB_1_scrollbar.mCS-inset.mCSB_scrollTools_horizontal{:style => "display: block;"}
            %a.mCSB_buttonLeft{:href => "#", :oncontextmenu => "return false;", :style => "display: block;"}
            .mCSB_draggerContainer
              #mCSB_1_dragger_horizontal.mCSB_dragger{:oncontextmenu => "return false;", :style => "position: absolute; min-width: 30px; display: block; width: 393px; max-width: 1230px; left: 3px;"}
                .mCSB_dragger_bar
              .mCSB_draggerRail
            %a.mCSB_buttonRight{:href => "#", :oncontextmenu => "return false;", :style => "display: block;"}
    .kmdNvArea.photo_list
      .kmdNvAreaL
        .kmdNvLogo
          %a{:href => "/"}
            %img{:alt => "TAKAKI_KUMADA", :height => "19", :src => "/images/logo.png", :width => "236"}/
        .kmdNvCredit
          MANAGEMENT
          %br/
          TEL : 080-9800-6304
          %br/
          FAX : 03-6310-8205
          %br/
          %a.mailLink{:href => "mailto:info@takakikumada.com"} INFO@TAKAKIKUMADA.COM
          %br/
          (C) TAKAKI_KUMADA
      .kmdNvAreaR
        %ul
          %li
            %a{:href => "/women"}
              %img{:src => "http://www.takakikumada.com/images/nv_women_on.png", :style => "opacity: 0; position: absolute;"}/
              %img{:alt => "WOMEN", :height => "24", :src => "/images/nv_women_off.png", :width => "104"}/
          %li
            %a{:href => "/men"}
              %img{:src => "http://www.takakikumada.com/images/nv_men_on.png", :style => "opacity: 0; position: absolute;"}/
              %img{:alt => "MEN", :height => "24", :src => "/images/nv_men_off.png", :width => "60"}/
          %li
            %a{:href => "/celebrities"}
              %img{:src => "http://www.takakikumada.com/images/nv_clb_on.png", :style => "opacity: 0; position: absolute;"}/
              %img{:alt => "CELEB", :height => "24", :src => "/images/nv_clb_off.png", :width => "156"}/
          %li
            %a{:href => "/advertising"}
              %img{:src => "http://www.takakikumada.com/images/nv_adv_on.png", :style => "opacity: 0; position: absolute;"}/
              %img{:alt => "ADVERTISING", :height => "24", :src => "/images/nv_adv_off.png", :width => "173"}/
          %li
            %a{:href => "/cover"}
              %img{:src => "http://www.takakikumada.com/images/nv_cvr_on.png", :style => "opacity: 0; position: absolute;"}/
              %img{:alt => "COVER", :height => "24", :src => "/images/nv_cvr_off.png", :width => "87"}/
          %li
            %a{:href => "/music"}
              %img{:alt => "MUSIC", :height => "24", :src => "/images/nv_music_on.png", :width => "82"}/
          %li
            %a{:href => "/film"}
              %img{:src => "http://www.takakikumada.com/images/nv_flm_on.png", :style => "opacity: 0; position: absolute;"}/
              %img{:alt => "FILM", :height => "24", :src => "/images/nv_flm_off.png", :width => "60"}/
          %li
            %a{:href => "/bio.html"}
              %img{:src => "http://www.takakikumada.com/images/nv_bio_on.png", :style => "opacity: 0; position: absolute;"}/
              %img{:alt => "BIO", :height => "24", :src => "/images/nv_bio_off.png", :width => "44"}/
          %li
            %a{:href => "/wanted.php"}
              %img{:src => "http://www.takakikumada.com/images/nv_news_on.png", :style => "opacity: 0; position: absolute;"}/
              %img{:alt => "NEWS", :height => "24", :src => "/images/nv_news_off.png", :width => "112"}/
